# List

* iteration operation with loop
* apply any operation on element

In [1]:
names: list[str] = ['Sir Zia', 'Muhammad Qasim', 'Daniyal']
print(names)

['Sir Zia', 'Muhammad Qasim', 'Daniyal']

In [3]:
# For Loop
for name in names:
    print(name)

Sir Zia
Muhammad Qasim
Daniyal

In [4]:
# While Loop

i: int = 0

while i < len(names):
    print(names[i])
    i += 1

Sir Zia
Muhammad Qasim
Daniyal

In [5]:
for name in names:
    print(f"Welcome Dear Teacher {name}")

Welcome Dear Teacher Sir Zia
Welcome Dear Teacher Muhammad Qasim
Welcome Dear Teacher Daniyal

In [7]:
for name in names:
    print(f"Welcome Dear Teacher {name}")
    print("PIAIC Generator AI Team\n")

Welcome Dear Teacher Sir Zia
PIAIC Generator AI Team

Welcome Dear Teacher Muhammad Qasim
PIAIC Generator AI Team

Welcome Dear Teacher Daniyal
PIAIC Generator AI Team

In [8]:
for name in names:
    print(f"Welcome Dear Teacher {name}")
    print("PIAIC Generator AI Team\n")
print("Pakistan Zindabad")

Welcome Dear Teacher Sir Zia
PIAIC Generator AI Team

Welcome Dear Teacher Muhammad Qasim
PIAIC Generator AI Team

Welcome Dear Teacher Daniyal
PIAIC Generator AI Team

Pakistan Zindabad

In [9]:
# printing list in reverse order using for loop and negative indexing

for name in names[::-1]:
    print(f"Welcome Dear Teacher {name}")
    print("PIAIC Generator AI Team\n")
print("Pakistan Zindabad")

Welcome Dear Teacher Daniyal
PIAIC Generator AI Team

Welcome Dear Teacher Muhammad Qasim
PIAIC Generator AI Team

Welcome Dear Teacher Sir Zia
PIAIC Generator AI Team

Pakistan Zindabad

In [10]:
data_base : list[tuple[str, str]] = [
    ("Sir Zia", "AI"),
    ("Sir Daniyal", "Cloud Computing"),
    ("Sir Qasim", "Blockchain")
]

print(type(data_base))

for row in data_base:
    print(row)

<class 'list'>
('Sir Zia', 'AI')
('Sir Daniyal', 'Cloud Computing')
('Sir Qasim', 'Blockchain')

In [14]:
data_base: list[tuple[str, str]] = [
    ('sir_zia', '123'),
    ('sir_daniyal', '456'),
    ('sir_qasim', '789')
]

for row in data_base:
    user, password = row
    print('USER: ', user, '\nPASSWORD: ', password)
    print('---------------------------')

USER:  sir_zia
PASSWORD:  123
---------------------------
USER:  sir_daniyal
PASSWORD:  456
---------------------------
USER:  sir_qasim
PASSWORD:  789
---------------------------

In [15]:
input_user : str = input("Enter User Name: ")
input_password : str = input("Enter Password: ")

print(type(input_user), type(input_password))
print(input_user, input_password)

<class 'str'> <class 'str'>
MAS 159

In [17]:
data_base : list[tuple[str, str]] = [
    ('sir_zia', '123'),
    ('sir_daniyal', '456'),
    ('sir_qasim', '789')
]
input_user : str = input("Enter User Name: ")
input_password : str = input("Enter Password: ")

for row in data_base:
    user, password = row
    if user == input_user and password == input_password:
        print(f"Valid User {user}")
        break
else:
    print("Not found, Invalid User")

Valid User sir_zia

In [22]:
magicians : list[str] = ['alice', 'david', 'carolina']

for magician in magicians:
    print(f"({magician.title()}, that was a great trick!)")
    
print(f"I can't wait to see your next trick, {magician.title()}")

print(magicians) # magicians list is not changed
print(magician) # magician variable is changed

(Alice, that was a great trick!)
(David, that was a great trick!)
(Carolina, that was a great trick!)
I can't wait to see your next trick, Carolina
['alice', 'david', 'carolina']
carolina

In [25]:
message = "Hello Python World!"
    print(message)

IndentationError: unexpected indent (2752036153.py, line 2)

## Numbers with loop

`* range(start, end, step)`

In [26]:
range(10)

range(0, 10)

In [27]:
list(range(10)) # starting = 0, ending = n -1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
list(range(2, 10)) # starting = 2, ending = n -1

[2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
list(range(2, 21, 2)) # starting = 2, ending = n -1, step = 2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [30]:
for n in range(1, 11):
    print(n)

1
2
3
4
5
6
7
8
9
10

In [31]:
for n in range(1, 11):
    print(f"{2} X {n} = {2 * n}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [33]:
squares : list[int] = []

for value in range(1, 11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## List Comprehensive

```python
for item in items_list:
    loop_body
```

### Comprehensive Style

```python
[loop_body for item in items_list]
```

In [38]:
for i in range(1, 11):
    print(i ** 2)

1
4
9
16
25
36
49
64
81
100

In [39]:
[i**2 for i in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [40]:
digits : list[int] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print(digits)
print(min(digits))
print(max(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
0
9
45

In [42]:
# Deep Copy

my_food : list[str] = ['pizza', 'falafel', 'carrot cake']
friend_food : list[str] = my_food[:] # Deep Copy
shallow_friend_food : list[str] = my_food # Shallow Copy

print(my_food)
print(friend_food)
print(shallow_friend_food)

friend_food[0] = 'ice cream'
shallow_friend_food[0] = 'ice cream'

print(my_food)
print(friend_food)
print(shallow_friend_food)

['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['ice cream', 'falafel', 'carrot cake']
['ice cream', 'falafel', 'carrot cake']
['ice cream', 'falafel', 'carrot cake']

## Tuples

In [44]:
names: tuple[str] = ('A', 'B', 'C')
print(names)
print(names[0])
print(names[0:2])

('A', 'B', 'C')
A
('A', 'B')

In [45]:
names: tuple[str] = ('A', 'B', 'C')

names[0] = "D" # Error because tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [47]:
names : tuple[str] = ('A', 'B', 'C')

print(names)

names: tuple[str] = ('Pakistan', 'China', 'Russia')

print(names)

('A', 'B', 'C')
('Pakistan', 'China', 'Russia')

In [49]:
from typing import Any

data: tuple[Any] = (1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 'A', True, 3.14, [1, 2, 3], (1, 2, 3))

print(data)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 'A', True, 3.14, [1, 2, 3], (1, 2, 3))

In [50]:
sorted([1, 2, 3, 4, 5, 6, 7, 8, 9, 0], reverse=True)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]