# Python Operators
* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

`install lxml`

In [1]:
!conda install lxml -y

Retrieving notices: ...working... done
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\ahmad\.conda\envs\py12

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    libxml2-2.10.4             |       h0ad7f3c_1         2.8 MB
    libxslt-1.1.37             |       h2bbff1b_1         447 KB
    lxml-4.9.3                 |  py312h09808a7_0         1.0 MB
    openssl-3.0.12             |       h2bbff1b_0         7.4 MB
    ------------------------------------------------------------
                                           Total:        11.7 MB

The following NEW packages will be INSTALLED:

  libiconv           pkgs/main/win-64::libiconv-1.16-h2bbff1b_2
  libxml2            pkgs/main/win-64::libxml2-2.10.4-h0ad7f3c_1
  libxslt            pkgs/main/win-64::libxslt-1.1.37-h2bbff1b_1
  lxml               pkgs/main/win-64::lxml-4.9.3-py312h09808a7_0

The following packages will be UPDATED:

  openssl                                 3.0.11-h2bbff1b_2 --> 3.0.12-h2bbff1b_0



Downloading and Extracting Packages

libxml2-2.10.4       | 2.8 MB    |            |   0%

lxml-4.9.3           | 1.0 MB    |            |   0%


libxslt-1.1.37       | 447 KB    |            |   0%



openssl-3.0.12       | 7.4 MB    |            |   0%



openssl-3.0.12       | 7.4 MB    |            |   0%


libxslt-1.1.37       | 447 KB    | 3          |   4%



openssl-3.0.12       | 7.4 MB    | 1          |   2%
libxml2-2.10.4       | 2.8 MB    |            |   1%



openssl-3.0.12       | 7.4 MB    | 3          |   3%
libxml2-2.10.4       | 2.8 MB    | 4          |   4%


libxslt-1.1.37       | 447 KB    | ##8        |  29%

lxml-4.9.3           | 1.0 MB    | 1          |   2%



openssl-3.0.12       | 7.4 MB    | 6          |   7%
libxml2-2.10.4       | 2.8 MB    | 8          |   8%


libxslt-1.1.37       | 447 KB    | #####7     |  57%



openssl-3.0.12       | 7.4 MB    | #3         |  14%

lxml-4.9.3           | 1.0 MB    | #2         |  12%



openssl-3.0.12       | 7.4 MB    | ##1        |  22%
libxml2-2.10.4       | 2.8 MB    | #7         |  17%



openssl-3.0.12       | 7.4 MB    | ###        |  30%


libxslt-1.1.37       | 447 KB    | ########## | 100%


libxslt-1.1.37       | 447 KB    | ########## | 100%
libxml2-2.10.4       | 2.8 MB    | ###        |  30%

lxml-4.9.3           | 1.0 MB    | ##4        |  25%



openssl-3.0.12       | 7.4 MB    | ###7       |  37%
libxml2-2.10.4       | 2.8 MB    | ###7       |  37%



openssl-3.0.12       | 7.4 MB    | ####3      |  44%
libxml2-2.10.4       | 2.8 MB    | ####2      |  42%

lxml-4.9.3           | 1.0 MB    | ####9      |  50%



openssl-3.0.12       | 7.4 MB    | ######6    |  66%



openssl-3.0.12       | 7.4 MB    | #######5   |  75%
libxml2-2.10.4       | 2.8 MB    | ####8      |  49%

lxml-4.9.3           | 1.0 MB    | #########9 | 100%
libxml2-2.10.4       | 2.8 MB    | #######7   |  77%

lxml-4.9.3           | 1.0 MB    | ########## | 100%



openssl-3.0.12       | 7.4 MB    | ########1  |  81%
libxml2-2.10.4       | 2.8 MB    | ########5  |  85%



openssl-3.0.12       | 7.4 MB    | #########5 |  95%
libxml2-2.10.4       | 2.8 MB    | #########1 |  92%
libxml2-2.10.4       | 2.8 MB    | ########## | 100%
libxml2-2.10.4       | 2.8 MB    | ########## | 100%



openssl-3.0.12       | 7.4 MB    | ########## | 100%












Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

==> WARNING: A newer version of conda exists. <==
  current version: 23.5.2
  latest version: 23.10.0

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=23.10.0

## Python Arithmetic Operators

In [2]:
# installing packages
%pip install pandas

Requirement already satisfied: pandas in c:\users\ahmad\.conda\envs\py12\lib\site-packages (2.1.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.26.0 in c:\users\ahmad\.conda\envs\py12\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ahmad\.conda\envs\py12\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ahmad\.conda\envs\py12\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ahmad\.conda\envs\py12\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\ahmad\.conda\envs\py12\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [1]:
# importing packages
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [2]:
a: int = 7
b: int = 3

print(a + b) # Addition 10
print(a - b) # Subtraction 4
print(a * b) # Multiplication 21
print(a / b) # Division 2.3333333333333335

10
4
21
2.3333333333333335

In [3]:
a: int = 11
b: int = 3

print(a % b) # Modulus 2

2

In [4]:
print(2**2) # Exponentiation 4

4

In [5]:
print(18/3)  # Division 6.0
print(18//3) # Floor division 6

6.0
6

In [6]:
print(18//4) # Floor division 4

4

## Python Assignment Operators

In [7]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [8]:
a: int = 7 # Assignment Operator
print(a) # 7

a += 3 # Addition 10

print(a) # 10

7
10

## Python Comparison Operators

In [9]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [10]:
a: int = 7
b: int = 3

print(a == b) # False

False

In [11]:
a: int = 7
b: str = "7"
print(a == b) # False

False

In [12]:
a: int = 7
b: int = 7
print( a != b) # False

False

In [13]:
a: int = 7  
b: int = 3

print(a > b) # True

True

In [14]:
a: int = 7
b: int = 7

print(a >= b) # True

True

### ASCII Code

``` python
A = 65
B = 66
Z = 90

a = 97
b = 98
c = 122

0 = 48
1 = 49
9 = 57```

In [15]:
ord('A')

65

In [16]:
chr(65)

'A'

In [19]:
a: str = 'A'
b: str = 'B'

print(a < b) # True
print(ord(a) , ord(b)) # 65

True
65 66

## Python Logical Operators

In [20]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

## Python Identity Operators

In [21]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [23]:
x: str = 'abc'
y: str = 'abc'

print(id(x))
print(id(y))
print(x is y) # True

140720806564104
140720806564104
True

## Python Membership Operators

In [24]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [26]:
alphabets: list[str] = [chr(i) for i in range(65, 91)]

print(alphabets)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [30]:
for i in range(len(alphabets)):
    print(i, names[i])
    if alphabets[i] == 'D':
        print('Found M')
        break

0 A
1 B
2 C
3 D
Found M

## PEMDAS

Alright, let's solve the equation step by step. We'll use the order of operations, often remembered by the acronym PEMDAS/BODMAS:

- **P**arentheses/**B**rackets
- **E**xponents (ie Powers and Square Roots, etc.)/**O**rders (ie Powers and Square Roots, etc.)
- **MD** Multiplication and Division (left-to-right)
- **AS** Addition and Subtraction (left-to-right)

Given the expression:

\[ 3 + 2 - 2 \times 4 \div 2 + 2 \]

Let's solve it step by step:

1. **Multiplication and Division**:
\[ 2 \times 4 = 8 \]
\[ 8 \div 2 = 4 \]

Replacing these values in the expression, we get:

\[ 3 + 2 - 4 + 2 \]

2. **Addition and Subtraction** (from left to right):
\[ 3 + 2 = 5 \]
\[ 5 - 4 = 1 \]
\[ 1 + 2 = 3 \]

So, the final answer is:

\[ 3 \]

In [31]:
universe_age = 14_000_000_000
print(universe_age)

14000000000

In [34]:
# Unzip 

a, b, c = 'Ahmad', 1, 5.7

print(a)
print(b)
print(c)

Ahmad
1
5.7

In [35]:
data = ('Ahmad', 1, 5.7)
print(data)

('Ahmad', 1, 5.7)

In [36]:
print(*data)

Ahmad 1 5.7

In [37]:
2*2

4

In [38]:
"a" * 3

'aaa'

## Zen of Python

In [39]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!